.parent {
    display: flex;
    justify-content: center;
    color: black;
    font-family: sans-serif;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2), 10px 10px 10px rgba(255, 255, 255, 0.2)
}

.fieldComp {
    /* width: 30%; */
    background-color: #d9f0ff;

    div {
        display: flex;
        flex-direction: column;

        input {
            align-self: center;
            height: 4vh;
            width: 50%;
            background-color: rgb(219, 215, 215);
            border: none;
            outline: none;
        }
    }

}

.add {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;

    button {
        background: rgb(82, 190, 252);
        width: 50%;
        height: 5vh;
        border-radius: 8px;
        border: none;
        outline: none;
        color: white;
        cursor: pointer;
    }


}