.parent {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100vw;
    height: 100vh;
}


.dataComponent {
    position: absolute;
    /* left: 30%; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table {
    display: flex;
    justify-content: center;
    align-items: center;
}

.displayNone {
    display: none;
}

.popup {
    background: rgba(126, 146, 154, 0.3);


}

.add_btn {
    display: flex;
    justify-content: center;

    button {
        cursor: pointer;
        border: none;
        outline: none;
        margin-top: 3%;
        background: rgb(118, 171, 174);
        width: 10%;
        height: 4vh;
        border-radius: 8px;
    }
}